# Byte-compiled / optimized files
__pycache__/
*.py[co]
*$py.class

# Distribution / Packaging
*.egg-info
*.eggs
MANIFEST
build
dist

# Unit test / coverage files
.tox/*
.cache/
.coverage
.coverage.*
htmlcov/

# emacs backup files
*~

# OSX Finder
.DS_Store
