test.designspace
Lib/DesignSpaceDocument.egg-info
.cache
__pycache__
*.py[co]
.DS_Store
Lib/designSpaceDocument/automatic_testfonts
testCheck.designspace
Lib/designSpaceDocument/testPathName_case1.designspace
Lib/designSpaceDocument/testPathName_case2.designspace
Lib/designSpaceDocument/testPathName_case3.designspace
Lib/designSpaceDocument/testPathName_case4.designspace
Lib/designSpaceDocument/testPathName_case5.designspace
Lib/designSpaceDocument/testPathNames.designspace
