language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
install:
  - make install
script:
  - make check
notifications:
  irc: "irc.freenode.org##fonts"
  email: fonttools@googlegroups.com
