include README.md notes.txt LICENSE.txt

include Documentation/Makefile
recursive-include Documentation *.py *.rst

recursive-include tests *.py
recursive-include tests/testdata *.plist *.glif *.fea *.txt *.ttx

include requirements.txt extra_requirements.txt .coveragerc tox.ini
