/**** STANDARD HTML TAGS ****/
body
{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	font: 11pt Lucida Grande, Geneva, Arial, Verdana, sans-serif;
	/* Special hack for IE/5 */
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

html>body { font-size: small; }

/* We define links using border-bottom instead of ugly underline */
a
{
	text-decoration: none;
	color: #339;
}


a img {border:0}

a:hover { background: #eee; }

a.crb-quickbutton
{
	background: transparent;
	border: 0;
}
a.crb-quickbutton:hover
{
	background: transparent;
	border: 0;
}



/* styles for python code*/
.python_code {  font-family: monospace;
			font-size: 10pt;
			}
.py_key {color: black;}
.py_num color: black;{}
.py_str { color: #00AA00;}
.py_op {color: black; }
.py_com { color: red;}
.py_res { color: #FF7700;}
.py_def { color: blue;}
.py_brk { color: black;}


li{
	margin-top: 4pt;
	margin-right: 1em;
	margin-left: 2em;
	font-size: 90%;
	line-height: 13pt;
}

div.pythonsourcetitle{
	background-color: #fff;
	font-size: 90%;
}

div.pythonsource{
	font-style: bold;
	background-color: #eee;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
    border: 1px dotted #ddd;
}

div.pythonoutput{
	font-style: bold;
	background-color: #eefeee;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
    border: 1px dotted #ddd;
}

table {
	background: #eee;
	color: #000;
	text-align: left;
	width: 100%;
	margin: 0;
	
}

code.xml {
	background: #eee;
	color: #000;
}

th, thead {
	background: #bbb;
	color: #000;
	margin: 2px;
	text-align: left;
    vertical-align: top;
}

td {
    border-bottom: 1pt dotted #aaa;
    padding: 2pt;
    font-size: 90%;
    vertical-align: top;
}

td.break{
	background: #ddd;
	padding: 4pt;
}


td.item{
	background: #ddd;
	padding: 4pt;
	font-size: 90%;
}


p {
	margin: 0.5em 0 1.5em 0; 
	line-height: 13pt;
	font-size: 9pt;
	color: black;
}

p.small {
	line-height: 12pt;
	font-size: 8pt;
	color: #666;
	}

p.note {
	margin: 0 0 0.2em 0;
	font-size: 12px;
	line-height: 1.5em;
	background: #CF6;
	padding: 5px;
	}
	
p.menu { margin: 0 0 2em 0;
	font-size: 11px;
	line-height: 1.5em;
	}

h1 {
	color: #666;
	font-size:150%;
	margin-top: 2em;
	border-top: 1px dotted #bbb;
	}

h2 {
	color: #666;
	font-size:110%;
	border-top: 1px dotted #bbb;
	margin-top: 1em;
}

h3 {
	color: #666;
	font-size:100%;
	margin-top: 1em;
	border-top: 1px dotted #bbb;
}


div.content
{
	position: absolute;
	left: 160px;
	top: 130px;
	width: 380pt;
	padding-top: 0;
	padding-left: 5px;
}
	


/**** PAGE LAYOUT ****/
/* The general page looks like this:

  +-----------------------------------------------------------+
  | #header                                                   |
  +------+--------------+----------+---------------+----------+
  | #nav | #leftcontent | #content | #rightcontent | #seealso |
  |      |              |          |               |          |
  |      |              |          |               |          |
  |      |              |          |               |          |
  |      |              |          |               |          |
  |      |              | #footer  |               |          |
  +------+--------------+----------+---------------+----------+
  
  All <div>'s, except #content and #footer, are absolutely 
  positioned. We use margins to seperate them from eachother.
  
*/  

#header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /*960px;*/
	background: #fff;
}

#subheader
{
	position: absolute;
	top: 91px;
	left: 0;
	background: #fff;
	width:100%; 
	/*width: 960px;*/
	height:19px;
}

#subscribe
{
	position: absolute;
	top: 5px;
	right: 10px;
	width: 200px;
	font-size:85%;
}

#nav
{
	position: absolute;
	top: 120px;
	left: 0;
	width: 60px;
	height: 100%;
	background: white;
	font-size: 70%;
}

div.leftcontent
{
	position: absolute;
	top: 120px;
	left: 20px;
	width: 110px;
	padding: 2px 5px;
	font-size: 75%;
}

div.google
{
	position: absolute;
	top: 120px;
	left: 700px;
	width: 110px;
}


#modellogo
{
position: absolute;
left: 0px;
top: 0px;
}

#titlepic
{
position: absolute;
left: 180px;
top: 10px;
}

/**** SPECIAL CASES ****/
ul.crb-seealso {list-style-type:none;padding:0;margin:0}
#seealso h2
{
	font-size:12px;
	font-weight:normal;
}
#header table
{
	background: #eee;
	font-size:10px
}

/* The navigation uses an unordered list to show its items,
which is semantically correct. */
#subnav
{
	border: 0px;
	font-size: 9px;
	line-height: 12px;
	font-family: Verdana, Helvetica, Sans-Serif;
	color: #888;
	width: 110px;
}

span.selected
{
	font-weight:bold;
}

a.subnav
{
	text-decoration: none;
	color: #aaa;
}


#nav ul
{
	list-style-type: none;
	margin: 0;
	padding-left: 0.5em;
}

#nav li
{
	line-height: 1.8em;
	text-align: left;
}

#nav a { border: 0; }

/* A special class, link, is used to display the pointing hand.
   We pad the actual content so it doesn't overlay the hand. */ 
p.link
{
	background: url('g/link.gif') no-repeat left top;
	padding-left: 42px;
	line-height: 18px;
}

/* The item class is used to display seperate news items */
.item { margin: 1em 0 2em 0;}

/* Class to display a label on feedback page */
.label
{
	font-size: 110%;
	color: #333;
}


pre {
    white-space:pre;
	background: #eee;
	color: #000;
}

div.objectname {
}

div.objectexamples {
}

div.objectdescription {
}

div.objectmethods {
}

div.objectattributes {
}

div.objectsyntax {
}

div.objectparameters {
}
