body
{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	/* Special hack for IE/5 */
	font-family: 11px 'Myriad Pro';
	voice-family: "\"}\"";
	voice-family: inherit;
}


/* styles for python code*/
.python_code {  font-family: "Andale Mono";
			font-size: 8pt;
			}
.py_key {color: black;
	font-style: bold;
}

.py_num {color: black;
}

.py_str {color: black;
}

.py_op {color: black; 
}

.py_com {color: 666;
	font-family: "Andale Mono";
	font-style: bold;
}

.py_res {color: black;
}

.py_def {color: black;
}

.py_brk {color: black;
}

li{
	margin-right: 20pt;
	margin-left: 20pt;
	margin-top: 3pt;
	line-height: 12pt;
	font-size: 10pt;
	font-family: 'Myriad Pro';
	}

div.pythonsourcetitle{
	background-color: #fff;
	color: #fff;
	font-size: 10pt;
	font-family: 'Myriad Pro';
}

div.pythonsource{
	font-style: plain;
	border: 1pt solid black;
	background-color: #fff;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

div.pythonoutput{
	font-style: bold;
	border: 1pt dotted black;
	background-color: #ddd;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
	margin-bottom: 4pt;
}

a {
	font-style: bold;
	color: black;
	background-color: #ddd;
	text-decoration: none;
}

a.reference{
	font-style: bold;
	color: black;
	background-color: #ddd;
	text-decoration: none;
}

thead {
	background: #444;
	color: #fff;
	font-weight: bold;
	font-size: 110%;
	margin-top: 20pt;
}

#smallforprint{
}

td {
border-top: 1pt solid #ddd;
padding: 2pt;
line-height: 13pt;
font-size: 10pt;
	font-family: 'Myriad Pro';
}

td.break{
	background: #ddd;
	padding: 4pt;
	line-height: 13pt;
	font-size: 10pt;
	font-family: 'Myriad Pro';
}


td.item{
	background: #ddd;
	padding: 4pt;
	line-height: 13pt;
	font-size: 10pt;
	font-family: 'Myriad Pro';
}

span.speaker{
	color: #666;
}

pre{
	font-family: 'Andale Mono';
}

p{
	margin: 0.5em 0 1.5em 0; 
	line-height: 13pt;
	font-size: 10pt;
	color: black;
	font-family: 'Myriad Pro';
}

p.small {
	line-height: 12pt;
	font-size: 8pt;
	color: #666;
	font-family: 'Myriad Pro';
	}

h1 {
	color: black;
	font-size: 200%;
	border-top: 5px solid #666;
	margin: 3em 0 .5em 0;
	font-family: 'Myriad Pro';
	}

h2 {
	color: black;
	font-size:110%;
	border-top: 1px solid #666;
	margin: 1em 0 .5em 0;
	font-family: 'Myriad Pro';
}

h3 {
	color: black;
	font-size:100%;
	border-top: 1px solid #666;
	margin: 1em 0 .5em 0;
	font-family: 'Myriad Pro';
}


div.content
{
	position: absolute;
	left: 70px;
	right: 70px;
	top: 30px;
	bottom: 30px;
	padding-top: 0;
	padding-left: 5px;
}

div.google
{
	position: absolute;
	left: 700px;
	top: 30px;
	padding-top: 0;
	padding-left: 5px;
}

