/* styles for python code*/
.python_code {  font-family: monospace;
			font-size: 10pt;
			}
.py_key {color: black;}
.py_num color: black;{}
.py_str { color: #00AA00;}
.py_op {color: black; }
.py_com { color: red;}
.py_res { color: #FF7700;}
.py_def { color: blue;}
.py_brk { color: black;}

li{
	margin-right: 30pt;
	margin-left: 20pt;
	line-height: 12pt;
	font-size: 8pt;
}

div.pythonsourcetitle{
	background-color: #fff;
	font-size: 90%;
}

div.pythonsource{
	font-style: bold;
	background-color: #eee;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
}

div.pythonoutput{
	font-style: bold;
	background-color: #eefeee;
	padding-left: 10pt;
	padding-right: 10pt;
	font-size: 9pt;
}

a.reference{
	color:#66F;
	text-decoration:none;
	background: #fee;
}

thead {
	background: #444;
	color: #fff;
	font-weight: bold;
	font-size: 110%;
	margin-top: 20pt;
}

td {
border-top: 1pt dotted #ddd;
padding: 2pt;
}

td.break{
	background: #ddd;
	padding: 4pt;
}


td.item{
	background: #ddd;
	padding: 4pt;
	font-size: 90%;
}

span.speaker{
	color: #666;
}

p {
	margin: 0.5em 0 1.5em 0; 
	line-height: 13pt;
	font-size: 9pt;
	color: black;
}

p.small {
	line-height: 12pt;
	font-size: 8pt;
	color: #666;
	}

h1 {
	color: #666;
	font-size:140%;
	border-top: 1px dotted #bbb;
	margin: 0 0 .5em 0;
	}

h2 {
	color: #666;
	font-size:110%;
	border-top: 1px dotted #bbb;
	margin: 0 0 .5em 0;
}

h3 {
	color: #666;
	font-size:100%;
	border-top: 1px dotted #bbb;
	margin: 0 0 .5em 0;
}


div.content
{
	position: absolute;
	left: 250px;
	top: 140px;
	width: 380pt;
	padding-top: 0;
	padding-left: 5px;
}
