/* Basic SiteBuilder styles */

body
{
	margin: 0;
	padding: 0;
	background: #fff;
	font: 10pt Georgia, Serif;
	color: #000;
	line-height: 1.4em;
}


div.bonbon_content {
	position: absolute;
	top: 50px;
	left: 200px;
	width: 400px;
}

div.bonbon_sidebar {
	position: absolute;
	top: 50px;
	left: 610px;
	width: 180px;
}

div.bonbon_menu {
	position: absolute;
	top: 50px;
	left: 10px;
	width: 180px;
}


div.timestamp {
	position: absolute;
	top: 130px;
	left: 700px;
	width: 100px;
}

p{
	font: 10pt Georgia, Serif;
	color: #000;
	line-height: 1.4em;
}

p.smaller{
	font: 8pt Georgia, Serif;
	color: #ddd;
	line-height: 1.25em;
}

strong{
	font-weight:bold;
}

a:link
{
	color: #3399CC;
	text-decoration: none;
}
a:active
{
	color: #FF6600;
	text-decoration: none;
}
a:visited
{
	color: #666666;
	text-decoration: none;
}
a:hover
{
	color: #F30;
	text-decoration: none;
}

h1{
	font: 16pt Georgia, Serif;
	font-weight:bold;
	color: #333;
	margin: 2.5em 0 1em 0;
	border-top: 1px dotted #666;
}

h2{
	font: 14pt Georgia, Serif;
	font-weight:bold;
	color: #333;
	margin: 2.5em 0 1em 0;
	border-top: 1px dotted #666;
}

h3{
	font: 12pt Georgia, Serif;
	font-weight:bold;
	color: #333;
	margin: 2.5em 0 1em 0;
	border-top: 1px dotted #666;
}

/* textism styles */
span.caps {
	font-size: 85%;
	letter-spacing: 1px;
}

td{
	padding: 2;
	background: #ddd;
	font: 9pt Georgia, Serif;
	color: #333;
	line-height: 1.4em;
}

